$BigFontSize = 18px;
$MediumFontSize = $BigFontSize - 2px;
$LittleFontSize = $MediumFontSize - 2px;

// about colors:
// https://learnboost.github.io/stylus/docs/bifs.html
$darkness-gray = #bbb;
$gray = #ddd;
$ligth-gray = tint($gray,70%);
$teal = #009688;
$action-color = #039be5;

@import './util.styl'
@import '../../node_modules/material-ui-stylus';
@import './menu/menu'
@import './space/space'
@import 'topbar';


body
  background: #eee;


