@import '../../node_modules/material-ui-stylus';

// Your styles here
.example
  color: red;

body
  background: #eee;

.menu

  &-container
    background: white;
    padding: 0 20px;
    margin-top: 30px;
