$BigFontSize = 16px;
$MediumFontSize = $BigFontSize - 2px;
$LittleFontSize = $MediumFontSize - 2px;

@import '../../node_modules/material-ui-stylus';
@import 'folder-list';
@import 'folder-item';

body
  background: #eee;

input
  box-shadow: none !important;
  border-bottom: none !important;
