.spin
  animation spin 2s infinite linear

@keyframes spin
  0%
    transform rotate(359deg)
  100%
    transform rotate(0deg)

.alert-message
	width 100%
	max-height 0px
	transition 1s ease
	overflow hidden
	font-size $MediumFontSize
	box-sizing border-box
	border-radius 4px
	color #fff
	ul
		list-style-type disc
		li
			list-style-type circle
	.close
		margin 3px
		text-align right
		.material-icons
			font-size 25px
			cursor pointer


.alert-message.active
	max-height 300px
	padding 5px
	overflow auto


.alert-message.negative
	background-color #ff8a80
	border-color #ff8a80

.alert-message.positive
	background-color #43a047
	border-color #43a047
