.Expresions
  margin-bottom: 30px;

  &-Header
    height: 50px;
    padding: 0 10px;
    line-height: 50px;

    &__brand
      font-weight: bold;
      font-size: $MediumFontSize !important;

  &-Content
    padding: 0px;

    &__collapse
      margin: 0;
