.Expresions
  margin-bottom: 30px;
  right: 1%;
  position: fixed;
  width: 33%;
  top: 5%;
  z-index: 10011;

  &-Header
    height: 50px;
    padding: 0 10px;
    line-height: 50px;

    &__brand
      font-weight: bold;
      font-size: $MediumFontSize !important;

  &-Content
    padding: 0px;

    &__collapse
      margin: 0;left 10px

    &__wrapper
      padding: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;

@import "./expresion"
