$expresionHeight = 20px;
$expresionWidth = 20px;
.Expresion
  width: $expresionWidth;
  height: $expresionHeight;
  border: $gray 1px solid;
  margin-left: 5px;
  cursor: pointer
  
  &-trigonometric
	  width: 54px ;
	  height: 20px; 
	  border: $gray 1px solid;
	  margin-left: 5px;
	  margin-bottom: 10px;
	  cursor: pointer
	  
	  &:hover
    	border-color: #009688;
  		

  &:hover
    border-color: #009688;
