.Formulation
  padding 15px

  &-ContentEditable
    min-height 100px
    border 1px solid $gray
    background $ligth-gray
    padding 10px
    color $darkness-gray
    margin-bottom 15px

    &focus
      border 2px solid $gray
      color black

  &-ExpresionGenerator
    min-height 100px
    border 1px solid $gray
    background $ligth-gray
    width 100%

  .Button
    margin-right 10px

  &-AnswerContainer
    padding 10px

    &-Validation
      text-align right
      .material-icons
        cursor pointer
        color $action-color

    &-Answer
      .bold
        font-weight bold
      .header
        .title
          font-size $MediumFontSize
          font-weight bold

      .collapsible-body
        .main-answer-content
          margin-top 0px
          .collection-item
            padding-bottom 0px
            .row
              margin-bottom 3px

