.Space
  margin: 30px 2%;


  &-content
    padding: 0 !important;
    background: white;

  &-right
    padding: 0 !important;
    background: white;

@import "formulation"
@import "variables"
@import "expresions"
