.Variables
  margin-bottom: 30px;


  &-Header
    height: 50px;
    padding: 0 10px;
    line-height: 50px;

    &__brand
      font-weight: bold;
      font-size: $MediumFontSize !important;

  &-Content
    padding: 15px;

    &-actions

      &__create
        text-align left
        .material-icons
          cursor pointer
          color #039be5

      &__check_save
        text-align right
        .material-icons
          cursor pointer
          color #039be5

.spin
  animation spin 2s infinite linear

@keyframes spin
  0%
    transform rotate(359deg)
  100%
    transform rotate(0deg)


