.FolderList
  .Folder
    .collapsible-header
      height 50px
      i
        font-size 3rem
      .title
        font-size $BigFontSize
    .collapsible-body
      .collection
        margin 0px auto
    .FolderItem
      font-size $MediumFontSize
    .FolderQuestionForm
      .row
        margin-bottom 0px
        .btn
          margin 10px 10px 10px
