
.FolderContainer
  margin-top 30px

  &-header
    background: white;
    padding: 10px;


  .title
    padding: 5px
    margin-bottom: 5px

  &-List
    margin-top: 20px
    font-size: $BigFontSize
