.FolderList
  margin: 1em -2em;

  .Folder
    background: white;

    &-header
      height 50px

      &__icon
        font-size: $BigFontSize;
        margin-right: 0;

      &__title
        font-size $BigFontSize

    &-body
      font-size $BigFontSize
      &_questions
        margin 10px
      &_actions
        text-align right
        margin 10px


.FolderItem
  font-size $MediumFontSize

.FolderQuestionForm
  .row

    margin-bottom 0px

    .btn
      margin 10px 10px 10px
